<form [formGroup]="myForm" #f="ngForm">
<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            
            <div class="form-group" >
                
                <input type="number" formControlName="mobileNumber" [(ngModel)]='mobileNumber' placeholder="Enter your mobile number *"
                class="form-control"  [class.is-invalid]="myForm.get('mobileNumber').invalid && myForm.get('mobileNumber').touched">
                <small [class.d-none]="myForm.get('mobileNumber').valid || myForm.get('mobileNumber').untouched" class="text-danger">Incorrect Mobile Number</small>
            </div>
            <div class="form-group" >
                <input type="text" formControlName="newPassword" [(ngModel)]='newPassword' placeholder="Enter the password *"
                 class="form-control"  [class.is-invalid]="myForm.get('newPassword').invalid && myForm.get('newPassword').touched">
                <small [class.d-none]="myForm.get('newPassword').valid || myForm.get('newPassword').untouched" class="text-danger">Password is required.</small>
            </div>
                <span style="color: red;">{{errorMessage}}</span>    
                <div class="form-group">
                    <button  type="submit" class="btnSubmit" [disabled]="f.form.invalid"  (click)="forgetAction()">Change Password</button>
                </div>

        </div>
    </div>
</div>

</form>
